html{
    background-color: rgb(12, 12, 12);
}

header{
    color: white;
    font-family: Montserrat;
    font-size: xx-large;
    font-weight: 500;
}

#Slope{
    color: green;
    font-family: Montserrat;
    font-weight: 500;
}

#Baldis-Bacics{
    color: rgb(0, 255, 0);
    font-family: Montserrat;
    font-weight: 500;
}

#Minecraft112{
color: rgb(31, 23, 13);
font-family: Montserrat;
    font-weight: 500;
}

a {
    color: inherit;
  }