html{
    background-color: rgb(12, 12, 12);
}

header{
    color: white;
    font-family: Montserrat;
    font-size: xx-large;
    font-weight: 500;
}

#Slope{
    color: green;
    font-family: Montserrat;
    font-weight: 500;
}

#Baldis-Bacics{
    color: rgb(0, 255, 0);
    font-family: Montserrat;
    font-weight: 500;
}

#Minecraft112{
color: rgb(187, 112, 0);
font-family: Montserrat;
    font-weight: 500;
}

#FNAF1{
color: rgb(65, 37, 0);
font-family: Montserrat;
    font-weight: 600;
}

#basket-random{
    color: orange;
    font-family: Montserrat;
    font-weight: 500;
}

#mariokart{
    color: red;
    font-family: Montserrat;
}

a {
    color: inherit;
  }