html{
    background-color: rgb(12, 12, 12);
}

header{
    color: white;
    font-family: Montserrat;
    font-size: x-large;
}

#homepage{
    color: white;
    font-family: Montserrat;
}
#games{
    color: white;
    font-family: Montserrat;
}
#apps{
    color: white;
    font-family: Montserrat;
}

#ChangeLog{
    color: white;
    font-family: Montserrat;
}

#history{
    color: white;
    font-family: Montserrat;
}
#red{
    color: red;
    font-family: Montserrat;
}
h2{
    color: white;
    font-family: Montserrat;
}

h1{
    color: white;
    font-family: Montserrat;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Montserrat;
    font-size: 14px;
}




a {
    color: inherit;
  }
